
/* .header_container{
    background-color: antiquewhite;
    width: 100vh;
    height: 20%;
}

.header_principal{
    display: flex;
    flex-direction: row;
    gap: 2rem;
} */


.principal__header{
    /* display:none; */
}

.principal__header-hidden{
    display:none;
}