
.una_linea_lista{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
    
}

.producto{
    width: 100px;
    text-align: left;
    margin-right: 0;
}

.precio{
    width: 70px;
    text-align: right;
}